.container {
    display: flex;
  }
  
  .image {
    float: left;
  }
  
  .text {
    float: right;
  }

.glyphicon-star {
  font-size: 40px;
  color: #e67e22;
}
.glyphicon-star.half {
  position: relative;
}
.glyphicon-star.half:before {
  position: relative;
  z-index: 9;
  width: 47%;
  display: block;
  overflow: hidden;
}
.glyphicon-star.half:after {
  content: "";
  position: absolute;
  z-index: 8;
  color: #bdc3c7;
  top: 0;
  left: 0;
}
/* * {
  box-sizing: border-box;
} */

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column1 {
  float: left;
  width: 33.33%;
  padding: 1px;
}

/* Clear floats after image containers */
.row1::after {
  content: "";
  clear: both;
  display: table;
}
button{
  position: absolute;
 -ms-transform: translate(-50%);
 transform: translateY(-50%);
}
