<div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <div class="content">
        <div class="card" style="width: 35rem;">
            <div class="card-body">
                <h2 class="card-title"><b>TITLE</b></h2>
                <p class="card-text">Payment fraud is any type of false or illegal transaction completed by a
                    cybercriminal. The perpetrator deprives the victim of funds, personal property</p> -->
            </div>
            
            <ul class="list-group list-group-flush">
                <li class="list-group-item">

                </li>
            </ul>
            <div class="card-body">
                <button class="btn btn-primary" routerLink="/home" style="font-size: 25px;">Go Back</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="btn btn-success" (click)="pay()" style="font-size: 25px;">Pay
                </button><img
                    src="https://freight.cargo.site/w/480/i/4fd4bbf6ff2b0aecae7a5ca877582f26b366b88af7c6e9a1cecf03b03b3dfbea/giphy-2.gif"
                    width="20%"> 
        </div>